{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Django Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/programmer.jpg' %}" alt="Toplearn - Author Of This blog">
            <h2>Blog project</h2>
        </header>
        <p>Hi, My name is Shahbod, Im a Programmer</p>
    </section>

    <section id="latest-posts">
        <h2>Latest Posts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static 'blog/images/django.jpg' %}" alt="learning django">
                        <div class="post__content">
                            <h3>learning django</h3>
                            <p>learning django blog</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>what I do</h2>
        <p> I love django</p>
    </section>
{% endblock %}